*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{

    flex-grow: 1;
}



.logo{
    width: 200px;
    max-height: 100px;
}

.logo1{
    height: 50px;
}




.bienvenida{
    /*border: 1px solid blue;*/
    background-image: url(https://i.ibb.co/v1w6jTd/OLYMPUS-DIGITAL-CAMERA.jpg);
    background-attachment: fixed;
    height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: last baseline;
    align-items: flex-end;

}


.box{
    flex-wrap: wrap;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 50px;
    text-shadow: grey 2px 2px 2px;
    /*border: 1px solid pink;*/
    
 
}

h1{
    color: #fff;
    opacity: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: bold;
   
}

h2, h3, h4{
    color: #355d66;
    font-family: 'Playfair Display', serif;
}

#navbarNavAltMarkup{
    justify-content: flex-end;
    background-color: #fff;
    width: 100%;
    
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}



.navbar{
    width: 100%;
    background-color: none;
    text-transform: uppercase;
    font-weight: bold;
    height: 70px;
    box-shadow: 0px 13px 12px -10px rgba(0,0,0,0.08);

}

.navbar-light .navbar-nav .nav-link {
    color:#355d66;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #0c3e4d;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #b46c51;
}

.whatsappButton a img{

    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    

}



/*RESERVAS*/


.box-reservas{
    font-family: 'Roboto', sans-serif;
    display: flex;
    /*border: 1px solid yellow;*/

    background-color: #beb3a1; 
    color: #fff;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

input{
    padding: 20px 20px;
    border: 0;
}


/*form{
    border: 1px solid pink;

}*/


.fondo{
    background-color: #beb3a1;
    color: #fff;
}

.btn1{
    background-color: #eee;
}



/*SECCION BIENVENIDA*/
.welcome-container{
    /*border: solid 2px blueviolet;*/
    width: 100%;
    display: flex;
    background-color: #eee;
}

.welcome-photo{
    width: 600px;
    height: 100%;
    object-fit: cover;
     
}
.textoBienvenida{
    padding: 150px;
}


.welcome-tittle{
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    color: #355d66;

}

.welcome-text{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #355d66;

}

/* CARDS NUESTRAS CABANAS */

.btn{
    background-color:#355d66;
    color: #fff;
}

.btn:hover{
    color: white;
    background-color: #0c3e4d;
}

.card-title{
    /* font-family: 'Playfair Display'; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Roboto';
    color: #b46c51;
    letter-spacing: 2px;
    margin-top: 15px;
}

.text-color{
    color: rgb(68, 66, 66);
    font-family: 'Roboto';
}

.card{
    height: 750px;
}


/*SERVICIOS*/
.servicios{
    background-color: #eee;
    width: 100%;
    color: #355d66;
}
.subtitulos-servicios{
    
    text-transform: uppercase;
    font-weight: bold;
}



/*CAROUSEL REVIEWS*/

h6{
    font-weight: 400;
    font-family: 'Roboto';
    font-style: italic;

}

.titulo-testimonios{
    color: #fff;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
    padding-top: 50px;
}
.reviews, .titulo-testimonios{
    background-color: #355d66;
}

.reviews>.carousel>.carousel-inner>.carousel-item{
    font-size: 1.7em;
    color: #fff;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 70px;
    font-family: 'Playfair Display', serif;
}

.boton-carousel{
    color: black;
}

/* UBICACION */

.contact-form>b{
    font-size: 1.5em;
    color: #355d66;
    font-family: 'Playfair Display', serif;
}

.ubicacion{
    width: 50%;
}

.mapa{
    width: 100%;
    height: 100%;
}

.ubicacion-contact{
    display: flex;

}

.contact-form{
    font-family: 'Roboto', sans-serif;
    color: #0c3e4d;
    flex-wrap: wrap;
    padding: 20px;
    /*border: 1px red solid;*/
    width: 50%;
    justify-content: center;
}



/*//////////////////////////////////FOOTER/////////////////////////////////////////////*/
footer{
    margin-top: 20px;
    display: flex;
    line-height: 2em;
    text-decoration: none;
    background-color: #beb3a1;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    color: #ffffff;
    width: 100%;

 
    /*background-image: linear-gradient(to top, #0c3e4d, #24728a);*/
   
}

.form1{
    width: 70%;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
}

.suscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 1em;
    padding-bottom: 10px;
}

.titulos-footer{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    font-size: 1.2em;

}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a:hover{
    color: #fff;
}
.footer-container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;
    align-items: center;
}
.logo-footer{
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-footer{
    background-color: #beb3a1;
    border: solid 2px #fff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    padding-left: 3px;
    padding-right: 3px;


}

.footer-consultas{
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
    justify-content: center;
}

.datos{
    margin-bottom: 1px;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.social-media{
    font-size: 2em;
}

/*/////////////////////PAGINA NUESTRAS CABANAS////////////////////////////////////////*/
.bg-cabanas{
    
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.titulo-cabanas{
    font-family: 'Roboto';
    color: #b46c51;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.subtitulo-cabanas{
    font-size: 1em;
    font-family: 'Roboto';
    color: #355d66;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}


.comodidades-container{
    display: flex;
    width: 100%;
    padding-right: 5%;
}

.comodidades{
    font-size: 1.1em;
    color: #0c3e4d;
    font-family: 'Roboto', sans-serif;
    

}
.imagenes-container{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}
.imagenes-cabanas{
    width: 33.33%;
    transition: transform .9s;
}

.imagenes-cabanas:hover{
    transform: scale(1.1); 
}


/*////////////////////////////////PAGINA EL COMPLEJO /////////////////////////////////*/

.iconos-container{
    margin-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}

.icon-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.icons{
    margin-bottom: 15px;
    width: 75px;
}


.foto{
    width: 100%;
    transition: transform .9s;
}

.foto:hover{
    transform: scale(1.1); 
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*para que no se distorsione*/
}


.gallery{
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0.5em; /*para separar entre foto y foto*/
    row-gap: 0.5em;
    grid-auto-rows: 300px;
}
.foto:nth-child(2){
    grid-column-start: span 2;
}

.foto:nth-child(4){
    grid-column-start: span 2;
}

.foto:nth-child(7){
    grid-column-start: span 2;
}
.foto:nth-child(5){
    grid-column-start: span 2;
}


/*////////////////////////////PAGINA DE CHASCOMUS////////////////////////////////*/

.main-chascomus{
    margin-right: 100px;
    margin-left: 100px;

}

.chascomus-grid{
    display: grid;
}

.itemchasco1{
    width: 600px;
}

.itemchasco2{
    width: 600px;
}

.itemchasco3{
    width: 600px;
}




/* ////////////////////////////// MEDIA QUERY ////////////////////////////////// */

@media only screen and (max-width:600px){

    .box{
        width: 100%;
        padding: 0px 10px;
    }

    h1{
        font-size: 3em;
    }

    #bienvenida{
        background-image: url(https://i.ibb.co/Krx3V7p/OLYMPUS-DIGITAL-CAMERA.jpg);
        background-attachment: fixed;
        max-width: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
    }

    .container-inicio{
        display: none;
    }

    .logo{
        display: none;
    }
    
    .ubicacion-contact{
        display: flex;
        flex-direction: column-reverse;
    }
    .welcome-container{
        display: none;
    }

    .card{
        height: 700px;
    }

    .ubicacion{
        width: 100%;
    }

    .reviews>.carousel>.carousel-inner>.carousel-item{
        font-size: 1.2em;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
    }


    .mapa{
        height: 100%;
    }

    .contact-form{
        width: 100%;
    }

    .suscribe{
        padding-left: 20px;
        padding-right: 20px;

    }

    .formulario-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bg-cabanas{
        padding-left: 20px;
        padding-right: 20px;
    }

    .imagenes-container{
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }

    .imagenes-cabanas:hover{
        transform: scale(1); 
    }

    .imagenes-cabanas{
        width: 100%;
    }

    .comodidades{
        font-size: 0.9em;

    }

    .iconos-container{
        width: 100%;
        display: flex;
        flex-direction: column;    
        padding-right: 10px;
        padding-left: 10px;

    
    
    }

    .icon-card{
        width: 100%;
    }

    .foto{
        width: 100%;
    }

    .foto:hover{
        transform: scale(1); 
    }

    .gallery{
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 0.5em; /*para separar entre foto y foto*/
        row-gap: 0.5em;
        grid-auto-rows: 300px;
    }


}


