
*{
    margin: 0;
    padding: 0;
}

video{
    width: 100%;
}

.titulo-chasco{
    color: nth($colores,1);
    font-size: 3em;
    text-align: center;
    margin-top: 20px;

    @media (max-width:600px){
        margin-top: 20px;
        font-size: 2em;
    }
}

div video{
    @media (max-width: 960px){
        display: none;
    }
}


.chascomus-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;


    @media (max-width:600px){
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }


    .box3, .box2, .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100%/3);


        @media (max-width:600px){
            width: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 30px;

            @media (max-width:600px){
                padding: 0;
            }
        }

        div{
            display: flex;
            flex-direction: column;
            background-color: nth($colores , 1);
            width: 70%;
            height: 350px;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 10%;
            padding: 15px;

            
            @media (max-width:600px){
                position: relative;
                bottom: 30px;
                padding: 10px;
                height: 100%;
            }
             
            h3{
                color: white;
                font-size: 1.3em;
                font-family: 'roboto';
                font-weight: 400;
                text-align: center;
            }

            p{
                font-family: 'roboto';
                text-align: center;
                color: white;
                font-weight: 350;
                width: 90%;
                font-size: 0.9em;

                a{
                    color: white;
                }

            }
        }
    
  
    }

}

.container2-chascomus{
    img{
        width: 100%;
        object-fit: cover;
    }

    .card{
        height: 100%;
    }
}

.videos-chasco{
    width: 100%;
    height: 300px;
}

.chascomusapp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: justify;
    padding: 5%;

    @media (max-width: 600px){
        padding: 0;
        width: 100%;
    }

    p{
        @media (max-width: 600px){
            display: none;

        }
    }

    img{
        width: 200px;

        @media (max-width: 600px){
            width: 120px;
        }
    }

    h5{
        text-transform: uppercase;
        color: nth($colores, 2);
        font-weight: 700;

        @media (max-width: 600px){
            font-size: 1.3em;
            text-align: start;

        }
    }

    a{
        text-decoration: none;
        
    }

    .link-descarga{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @media (max-width: 600px){
            justify-content: center;
        }
        
        a{
            margin: 7px;
        }
    }
}