.foto-reservas{
    background-image: url(https://i.ibb.co/k6rBNZn/OLYMPUS-DIGITAL-CAMERA.jpg);
    background-attachment: fixed;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;



    h1{
        color: white;
        text-shadow: grey 2px 2px 2px;

        @media (max-width:600px){

            font-size: 2.5em;
        }
    }


}

.contacto-main{
    display: flex;
    flex-direction: row;

    .form-label{
        color: nth($colores, 5);
        font-family: 'roboto';
    }

}

.formulario-contacto{
    width: 50%;

   padding: 40px;

   @media (max-width:600px){
       width: 100%;
   }

   @media (min-width: 600px) and (max-width:960px){

    width: 75%;
    }

    @media (min-width:960px) and (max-width:1264px){
        width: 75%;
    }

    
}

