#bienvenida{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    justify-content: flex-start;
    align-items: center;
    background-image: url(https://i.ibb.co/0QRGLY9/OLYMPUS-DIGITAL-CAMERA.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right;

    @media (max-width:960px){
        background-image: none;


    }
     
    
    .box-portada{
        background-color: #eee;
        width: 43%;
        height: 50%;
        box-shadow: 0px 13px 12px -10px rgba(0,0,0,0.08);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;


        @media (max-width:960px){
            width: 100%;
            font-size: 1em;

            
    
    
        }

        .home-tittle{
            font-size: 2.2em;
            color: nth($colores, 3);
            font-weight: 300;
            text-align: start;
            

            @media (max-width: 960px){
                font-size: 2.5em;
            }
        }



        p{
            
            color: #343a40;
            font-size: 1.5em;
            font-weight: 300;



        }

    }



}

.welcome-container{
    width: 100%;
    display: flex;
    /* background-color: #eee; */

    @media (max-width:960px){
        display: none;
    }

    

    div img{
        width: 600px;
        height: 100%;
        object-fit: cover;
        position: relative;
        margin-left: 40px;
    }

    .box-color{
        background-color: nth($colores, 4);
        position: absolute;
        width: 615px;
        height: 520px;
        margin-left: 40px;
        left: 32px;
        top: 1125px;

    }

    .textoBienvenida{
        padding: 150px;

        h3{
            font-size: 2em;
            font-family: 'Playfair Display', serif;
            color: #355d66;
        }

        p{
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            color: #355d66;
        }
    }



}