.box-reservas{
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;



    div>a{
        font-size: 1.1em;
        margin-right: 20px;
        padding: 20px;
    }

    .reservas-texto{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .reservas-texto1{
        font-size: 1.5em;
        color: #343a40;
        font-weight: 350;

        margin-bottom: 0;
    }

    .reservas-texto2{
        font-size: 1.5em;
        color: nth($colores,2);
        font-weight: 800;

        margin-top: 0;
    }

}