.card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  font-family: "Roboto";
  color: #b46c51;
  letter-spacing: 2px;
  margin-top: 15px;
}

.text-color {
  color: rgb(68, 66, 66);
  font-family: "Roboto";
}

.card {
  height: 750px;
}
