*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{

    flex-grow: 1;
}

.whatsappButton a img{

    width: 70px;
    position: fixed;
    bottom: 5px;
    right: 5px;

    &:hover{
        width: 90px;
    }
    

}

.btn{
    background-color:#355d66;
    color: #fff;
}

.btn:hover{
    color: white;
    background-color: #0c3e4d;
}